<div class="card">
    <div class="card-body">
    <div class="card-header">
        <h6><span class="card-subtitle mb-2 text-muted">Plataforma:</span> {{ pipe.platform }}</h6> 
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">Well:</span> {{ pipe.well }} 
        </li>
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">Riser Set Number:</span> {{ pipe.riserSetNumber }}
        </li>
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">Supplier:</span> {{ pipe.supplier }}
        </li>
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">Section:</span> {{ pipe.section }}
        </li>
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">Life Length:</span> {{ pipe.lifeLength }}
        </li>
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">Reference:</span> {{ pipe.reference }}
        </li>
        <li class="list-group-item">
            <span class="card-subtitle mb-2 text-muted">PSHH:</span> {{ pipe.pshh }}
        </li>
    </ul>
</div>
  </div>